{% extends "base.html" %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">女性乳腺癌健康风险评估平台</h1>
        <p>本平台基于我国乳腺癌人群队列调查数据，建立了适于国人的乳腺癌风险评估模型，</p>
        <p>可实现乳腺癌的有效预防和早期诊断，降低乳腺癌发病率和死亡率，改善乳腺癌患者生活质量。</p>
        <hr class="my-line">
        <p>只需要简单勾选，就可以快速进行风险评估</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'breast:tool' %}" role="button">立即检测&raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <section id="cancer-bg">
            <h2>项目背景</h2>
            <p>女性乳腺是由皮肤、纤维组织、乳腺腺体和脂肪组成的，乳腺癌是发生在乳腺腺上皮组织的恶性肿瘤。</p>
            <p>中国不是乳腺癌的高发国家，但近年我国乳腺癌发病率的增长速度却高出高发国家1～2个百分点。
                据国家癌症中心和卫生部疾病预防控制局2012年公布的2009年乳腺癌发病数据显示：全国肿瘤登记地区乳腺癌发病率位居女性恶性肿瘤首位，女性乳腺癌发病率（粗率）全国合计为42.55/10万，城市为51.91/10万，农村为23.12/10万。</p>
            <p>乳腺癌作为一种慢性疾病，具有较缓慢的自然病程和较明确的癌前病变，有较可行的检查诊断方法，适宜于群体筛查。
                通过筛查发现乳腺癌前期病变和早期癌，提高早诊率，达到降低死亡率和发病率。</p>
            <p>欧美各国是目前乳腺癌筛查最成功的国家，乳腺癌死亡率已开始下降，筛查贡献1/3，发病率也开始下降。欧美各国主要推荐乳腺X线筛查模式，40岁或50岁以上每1-2年进行一次乳腺X线检查，由于发病率较高，卫生经济效益比也合理。
                但乳腺癌筛查的效果和卫生经济学效益比与多种因素相关，筛查模式和流程是关键的因素之一，欧美基于乳腺X线的筛查模式并不能适合我国国情。</p>
            <p>目前我国使用的主要筛查模式有以下几种：</p>
            <ul>
                <li>
                    乳腺自我检查模式
                </li>
                <li>
                    乳腺X线检查联合超声检查模式
                </li>
                <li>
                    基于乳腺X线检查的筛查模式
                </li>
                <li>
                    基于乳腺超声检查的筛查模式
                </li>
            </ul>

            <p>这些筛查模式或者效果不好，或者卫生经济效益比普遍较低。欧美国家乳腺癌发病率已出现下降趋势可以说是得益于风险评估基础上的分级防控。</p>
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                <img class="img-fluid" src="/static/pic/cancer-decrease.png">#}
{#                </div>#}
{#            </div>#}
            <p>
                例如Gail-2风险评估模型将人群分为高危和低危，对高危人群进行药物干预，极大地降低高危人群乳腺癌风险。
                我们使用我国已知患病的乳腺癌患者的数据进行验证。600例乳腺癌患者，仅9例（1.5%）为高危风险，23000例健康女性为低风险。漏检患者面临严重的健康风险。
            </p>
            <p>
                综上，我国乳腺癌防控现状极为严峻，目前国际上使用的乳腺癌防控体系不适合中国女性特征，也不符合精准医学的发展方向和要求，需要探索新型的乳腺癌风险评估模型或方法以建立乳腺癌精准防控体系。
            </p>
        </section>
    </div>

    <div class="container">
        <section id="cancer-mz">
            <h2>免责声明</h2>
            <p>凡以任何方式登陆本网站或直接、间接使用本网站检测工具者，视为自愿接受本网站声明的约束。本声明以及其修改权、更新权及最终解释权均属北京科技大学所有。</p>
            <p><b>1.隐私权保护</b></p>
            <p>本网站严格保障用户隐私权，对上网用户的个人信息保密。未经上网用户同意不会向他人泄露，但法律另有规定的除外。只有当政府机关依照法定程序要求我们披露用户的个人资料时，本网站才会依法或为维护公共安全之目的，向执法单位提供用户的个人资料，且不承担任何法律责任。</p>
            <p><b>2.内容来源和使用</b></p>
            <p>本网站所载的文图均出于为公众传播有益健康的信息之目的，其版权归版权所有人所有。如果有侵犯，请及时通知我们，本网站将在第一时间及时删除。</p>
            <p>本网站所提供的检测工具仅供参考，不做个别诊断和使用的根据，亦不能替代医生和其他医务人员的建议。如自行使用本平台检测工具检测并与实践结果发生偏差，本站概不负责，亦不负任何法律责任。</p>
            <p>本网站所提供的的服务，仅供您个人使用并用于非商业性目的。您不得抄袭本网站提供的资源，重新排版后挪作他用，或在您的网站上设立本网站主页或其他页面的镜像网页。如果您想将本网站的服务用于商业目的，必须事先与本网站签定协议。</p>
            <p><b>3.网络服务及安全性</b></p>
            <p>本网站不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不做担保。</p>
            <p>本网站不保证，向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本网站实际控制的任何网页上的内容，本网站不承担任何责任。</p>
            <p>对于因不可抗力或本网站不能控制的原因造成的网络服务中断或其他缺陷，本网站不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
        </section>
    </div>

    <div class="container">
        <section id="contact-us">
            <h2>联系我们</h2>
            <p>地址：北京市海淀区学院路30号</p>
            <p>电话：010-6233****</p>
            <p>邮箱：ants@ustb.edu.cn</p>
        </section>
    </div>


{% endblock %}